body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inputsArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
}

.buscar {
  width: 30%;
}

.inputs {
  width: 69%;
}

.listArea {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 90%;
  gap: 5px;
  margin: auto;
}
.col2{
  width: 40%;
}
.col1{
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}